body{
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
#card{
    background-color: white;
    justify-content: center;
    align-items: center;
    border-radius: 28px;
    height: 275px;
    width: 512px;
}
#card1{
    background-color: white;
    display: flex;
    justify-content: space-between;
}
.uno{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}
.renglon{
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
#cardo{
    display: flex;
}